<nav class="navbar navbar-expand-xl bg-primary mb-3">
  <div class="container">
    <img class="logo" src="/assets/img/logo-white.svg" alt="Logo" />
    <button
      class="navbar-toggler border-0 text-white"
      data-toggle="collapse"
      data-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
    >
      <i class="ri-menu-line"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/registrys">Cadastros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/settings">Configurações</a>
        </li>
      </ul>
      <div class="btn-group">
        <button
          type="button"
          class="btn text-white dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="ri-user-smile-fill"></i>
        </button>
        <div class="dropdown-menu">
          <span class="pl-4">{{user.login}}</span>
          <a class="dropdown-item" href="#">Minha Conta</a>
          <form class="p-0 m-0" action="/logout" method="POST">
            <button class="dropdown-item text-danger">Sair</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
{{>_msg}}
