{{>_nav}}
<div class="container">
    <div class="pt-3">
        <h1>Acesso negado</h1>
    </div>
    <hr>
    <p class="text-muted">
        Que pena, o seu nível de acesso não te permite acessar essa página, por gentileza volte para sua tela
        inicial.
    </p>
    <a href="/admin/registrys">Voltar</a>
    {{>_footer}}
</div>