<div class="container">
    <div class="col-md-4 offset-md-4">
        <div class="text-center">
            <img id="logo2" src="/assets/img/logo-black.svg" alt="Logo">
        </div>
        <div class="bg-white p-4 mb-4 rounded border">
            <form action="/authenticate" method="POST">
                <span class="text-muted">Por favor, insira o login utilizado para o acesso. </span>
                <div class="form-group mt-2">
                    <input class="form-control" type="text" name="login" placeholder="Login" required autofocus>
                </div>
                <hr>
                <button class="btn btn-primary" type="submit"> Resetar</button>
                <a class="ml-3" href="/">Voltar</a>
            </form>
        </div>
        {{>_footer}}
    </div>
</div>